.faixa-super{
	background-color: $azul;
	height: 80px;
	width: 100%;
	position: absolute;
	z-index: 999;
	padding: 15px;
}
.container_home{
	background: url(../images/home.jpg) no-repeat center top;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
	background-size: cover;
	z-index: 0;
}
.mascara_home{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9;
}
.front{
	z-index: 999;
}
.logo_home{
	font-size: 90px;
	font-family: 'logo';
	margin-top: 8px;
	color: #fff;
	float: left;
	.sub_logo{
		font-size: 29px;
		color: $branco;
		font-family: 'logo';
		float: left;
		margin-top: 15px;
	}
}
.login_home{
	margin-top: 10px;
	float: right;
	font-size: 12px;
	color: #fff;
	width: 325px;
	background-color: $azul;
	padding: 5px;
	padding-left: 15px;
	input[type="text"]{
		width: 150px;
		height: 20px;
	}
	input[type="password"]{
		width: 100px;
		height: 20px;
	}
	.perda{
		font-size: 11px;
		margin-top: -10px;
		float: left;
		a{
			color: $branco;
			text-decoration: underline;
			span{
				margin-right: 15px;
			}
		}
	}
	.logar{
		background-color: $branco!important;
		color: $azul!important;
		font-size: 10px;
		width: 30px;
		height: 20px;
		line-height: 20px;
		padding: 0;
		margin-left: 9px;
		margin-top: 18px;
	}
}
.user {
	float: left;
	margin-right: 10px;
}
.password{
	float: left;
}
.box_home{
	margin-top: 100px;
}
.description{
	margin-top: 72px;
	p{
		font-size: 20px;
		color: rgba(255, 255, 255, 0.4);
		font-family: $fonte;
		font-weight: lighter;
		line-height: 35px;
	}
}
.btn_comecar{
	text-align: center;
}
.btn_azul{
	background-color: $azul!important;
	&:hover{
		background-color: $azul_1!important;
	}
}