html, body {
	width: 100%;
	font-family: $fonte;
	font-weight: normal;
}
body{
	
}
h1, h2, h3, h4, h5, h6{
	font-weight: 300;
	font-family: $fonte!important;
}
span.span_title{
	font-size: 36px;
	color: #fff;
}

