.login {
	background: url(../images/home_admin.jpg) no-repeat center top;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: absolute;
	background-size: cover;
	z-index: 0;
}

body.login div#login {
}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform {
	z-index: 99999;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit {}
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}